// All Project Styles ********************
body{
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.body{
	padding: 60px 15px 60px 15px;
}

.pacifico{
	font-family: 'Pacifico', cursive;
}

.title{
	font-size: 4em;
	margin-top: 0;
}
.main-nav{
	display: flex;
}

.main-header{
	background-color: #532400;
	margin: 10px 15px 10px 15px;
	border-radius: 5px;
}

.nav-link{
	color: white;
	width: 33%;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	font-size: 2.5em;
}

.text-center{
	text-align: center;
	padding-top: 50px;
}

.color-text{
	color: #FFCBB7;


}

.main-container{
	min-height: 100vh;
}

.header_img{
	height: 30vh;
}

.product img{
	width: 150px;
	height: 150px;
}

.product h3{
	font-size: 2em;
	margin: 5px 0px 5px 0px;
}

.card{
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.threeD{
	text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171, 168, 168);
}

.delay-1{
	animation-delay: 0.1s;
	position: relative;
	z-index: 5;
}

.delay-2{
	animation-delay: 0.2s;
	position: relative;
	z-index: 4;
}

.delay-3{
	animation-delay: 0.3s;
	position: relative;
	z-index: 3;
}

.delay-4{
	animation-delay: 0.4s;
	position: relative;
	z-index: 2;
}






